.place__url-heading{
height: 12px;
margin-top: 24px;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 170%;
/* identical to box height, or 100% */

letter-spacing: .2em;

color: #AAAAAA;
}
