@import url('./__lang-links/header__lang-links.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-linke/header__lang-linke.css');
@import url('./__lang-linke-active/header__lang-linke-active.css');

.header{
    width: 100%;
    max-width: 984px;
    margin:auto;
    padding-top: 34px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
    .header {
      width:100%;
      max-width: 288px;
      height: 100%;
      max-height: 36px;
      padding-top: 20px;
      }
  }



  