@import url('./__list-item_bold/intro__list-item_bold.css');

.intro__list-item {

    font-weight: normal;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Inter', arial, sans-serif;

  }