.header__lang-linke{  
 
    font-size: 24px;
    text-align: right;
    color: #FFFFFF;
    margin-left: 18px;
    transition: opacity .3s;
    text-decoration: none;

}


.header__lang-linke:hover{
  opacity: .5;
}

@media screen and (max-width: 320px) {
  .header__lang-linke {
    font-size: 18px;
  }
}  
