.place__link{
  height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.3s;
  color: #ffffff;
  text-decoration-line: underline;
}
  .place__link:hover {
    opacity: 0.5;
  }
